@import url('https://fonts.font.im/css?family=Josefin+Sans:300,300i,400,400i');
@import url('https://fonts.font.im/css?family=Playball');

:root {
  font-family: 'Josefin Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  transition: all 0.3s ease;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --container-border-radius: 1rem;
  --container-border-radius-2: 2rem;
  --container-background-color: rgba(0, 0, 0, 0.2);
}

a {
  font-weight: 500;
  color: white;
  border-bottom: 1px dashed;
}
a:hover {
  color: #3e7eff;
}

* {
  transition: all 0.3s;
}


body {
  padding: 1rem;

  margin: 0;

  display: flex;

  place-items: center;

  min-height: 90vh;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  background-color: #242424;
  /* background-image: url('https://nd.liteyuki.icu/api/v3/file/get/18870/furina.png?sign=bqEBGXv8pU7VJSdpTLsy1rIV757VW9fvfE2CP1jlins%3D%3A0'); */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #74c3ff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* custom */

.container {
  width: auto;
  margin-bottom: 1rem;
  padding: 1rem;
}

.container-2 {
  margin-bottom: 1rem;
  padding: 2rem;
}

.ui {
  border-radius: var(--container-border-radius);
  background-color: var(--container-background-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ui-2 {
  border-radius: var(--container-border-radius-2);
  background-color: var(--container-background-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.react-ui.size:hover {
  transform: scale(1.05); /* 鼠标悬停时放大 */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* 鼠标悬停时增加阴影 */
}

.react-ui.rotate:hover {
  transform: rotate(360deg); /* 鼠标悬停时旋转 */
}

.react-ui.color:hover {
  background-color: #646cff; /* 鼠标悬停时改变背景色 */
  color: #ffffff; /* 鼠标悬停时改变文字颜色 */
}